<div class="wrap">
  <h1 class="register-title">Sign Up</h1>
  <form class="register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      formControlName="name"
      class="register-input"
      placeholder="Username"
    />
    <input
      type="email"
      formControlName="email"
      class="register-input"
      placeholder="Email address"
    />
    <input
      type="password"
      formControlName="password"
      class="register-input"
      placeholder="Password"
    />
    <input type="submit" value="Create Account" class="register-button" />
  </form>
</div>
